<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personal training in Cochin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--<link rel="stylesheet" href="site.css">
  <link rel="stylesheet" href="sit.css">-->
</head>

<body>
    <div class="container">
      <div style=" margin-bottom: 20px;  padding-bottom: 5px;  border-bottom: 1px solid #eeeeee;">
        <br/>
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>    
          <li><a href="/contact/">Contact</a></li>  
        </ul>
  <h3 style="color:#337ab7;"><i>Personal training at its best!</i></h3>
      </div>

      

<div>
  <h1>ORANGE</h1>
  <p><i><h5>Personal training at its best!</h5></i></p>
</div>

<div class="row" style=" margin-bottom: 20px;  padding-bottom: 5px;  border-bottom: 1px solid #eeeeee;">
  <div class="col-sm-6">
    <h3>About Orange</h3>
    <p>

Learning technical skills can have a life changing impact whether you are a fresh graduate or an experienced programmer. However, who guides you - his experience - does have a profound effect when you are into a job or developing your dream project. We are a team of working professionals with a passion to share our knowledge in specific technology fields such as SQL,SSRS,SSIS and .net.</p>

<p>We don't teach you nothing groundbreaking from what multitudes of institutions you go to, around the corner. What we do different is, skip the textbooks introductions and get you to take on the real time challenges that you will face in a job.We help you learn, not just finish a textbook or a curriculum; Keep in touch until you are on your own and create a sharing experience to grow.</p> 

<br/><p>With us, you get;</p></br>

<ul>
  
      <p>&raquo Personal training by experienced professionals in industry</p>
      <p>&raquo Flexible timings</p>
      <p>&raquo On job training before the real job</p>
      <p>&raquo Industry exposure</p>
      <p>&raquo Latest technology updates</p>
   
</ul>
<br>
<h4 style="color:#337ab7;"><b>Go ahead and fill out our contact form to get a call back.</b></h4>


      <!--<p><a class="btn" href="/guide/">Read the Guide &raquo;</a></p>-->
  </div>
  <div class="col-sm-6">
    <h3>Courses offered:</h3>
    <ul>
       <li><b>SQL</b></li>
      <li><b>SSRS</b></li>
      <li><b>SSIS</b></li>
      <li><b>Dotnet</b></li>
      <li><b>Node.js</b></li>
     
     
      
    </ul>
    <!--<pre>$ npm install locomotive</pre>-->
  </div>
  
</div>

      <div class="footer">
  <p>&copy; 2016-2017 ORANGE</p>
</div>
      
    </div>
  </body>



</html>
