<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="#">Pacers professional training</a>-->
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses Offered <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="#">SQL</a></li>
          <li><a href="#">Testing</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">node.js</a></li>
        </ul>
        </li>
        <li><a href="contact">Contact Us</a></li>
        
      </ul>
    </div>
  </div>
</nav>
    
</body>
</html>
